/*  ================== ROOT =================== */

:root {
  --color-primary: green;
  --font-xsm: 10px;
  --font-sm: 12px;
  --font-xBase: 14px;
  --font-base: 16px;
  --font-xmd: 18px;
  --font-md: 19px;
  --font-xlg: 28px;
  --font-lg: 30px;
  --font-xl: 50px;
}
/* define all color */
.bg_primary {
  background-color: var(--color-primary);
}
.text_primary {
  color: var(--color-primary);
}

/*=========================================== DEFINE-ALL = FONT-SIZES ========================================== */
.text_xsm {
  font-size: var(--font-xsm);
}

.text_sm {
  font-size: var(--font-sm);
}

.text_xbase {
  font-size: var(--font-xBase);
}

.text_base {
  font-size: var(--font-base);
}

.text_xmd {
  font-size: var(--font-xmd);
}

.text_md {
  font-size: var(--font-md);
}

.text_xlg {
  font-size: var(--font-xlg);
}

.text_lg {
  font-size: var(--font-lg);
}

.text_xl {
  font-size: var(--font-xl);
}

@media (max-width: 1023.98px) {
  :root {
    --font-sm: 11px;
    --font-xmd: 13px;
    --font-lg: 27px;
    --font-xl: 40px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xBase: 12px;
    --font-base: 14px;
    --font-xmd: 20px;
    --font-xlg: 24px;
    --font-xl: 32px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 10px;
    --font-base: 12px;
    --font-xmd: 14px;
    --font-xlg: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
  }
}
