/* font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  text-decoration: none !important;
  list-style-type: none !important;
}

body {
  font-family: "poppins", "sans serif";
}
/* common classes */
.max_w_750 {
  max-width: 750px !important;
}

.nav-item {
  width: 100%;
}

.nav-link {
  transition: all 300ms linear;
  padding: 8px !important;
  color: #198754 !important;
}
.nav-link:hover {
  transition: all 300ms linear;
  background-color: #198754;
  color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #198754 !important;
  color: white !important;
}

.common_card {
  padding: 10px;
}

.card_shadow {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
.marq_parent {
  background-color: #198754;
  border: 1px dotted red;
  line-height: 100%;
}

/* Active Tab Style */
.active_tab {
  background-color: #198754 !important;
  color: white;
}

/* Tab Button Styling */
.myTab {
  cursor: pointer;
  transition: all 300ms linear;
}

/* Hover Effect */
.myTab:hover {
  background-color: #198754 !important;
  color: white;
}

.tab_image {
  max-width: 118px;
  object-fit: contain;
}
.ml_0 {
  margin-left: 0 !important;
}
@media (max-width: 576px) {
  .tab_image {
    max-width: 60px;
  }
}
